<!doctype html>
<html>
  <head>
    <title>Test task it_upgrade</title>
  </head>
  <body>
    <p><a href="{{ url_for('one') }}">Первый отчет</a></p>
    <p><a href="{{ url_for('two') }}">Второй отчет</a></p>
    <!-- <p><a href="{{ url_for('three') }}">Третий отчет</a></p> -->
    <p><a href="{{ url_for('four') }}">Четвёртый отчет</a></p>
    <!-- <p><a href="{{ url_for('five') }}">Пятый отчет</a></p> -->
    <p><a href="{{ url_for('six') }}">Шестой отчет</a></p>
    <p><a href="{{ url_for('seven') }}">Седьмой отчет</a></p>
  </body>
</html>